<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AdobeCameraRawRootDirectory" value="C:\ProgramData\Adobe\CameraRaw"/>
    <add key="AdobeStandardProfilesDirectory" value="C:\ProgramData\Adobe\CameraRaw\CameraProfiles\Adobe Standard"/>
    <add key="AdobeCameraRawCustomProfilesDirectory" value="C:\ProgramData\Adobe\CameraRaw\CameraProfiles"/>
  </appSettings>
</configuration>